---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi! My name is Anton Grahed. I currently work as a Research Analyst in the Office of the Chief Economist (OCE) at the European Bank for Reconstruction and Development (EBRD). I have a BSc and an MSc in Economics from the London School of Economics (LSE). 
		</p>
		<p>
			I have broad interests across economics, but I’m especially drawn to twentieth-century economic history, the causes and conditions for growth, international economics, migration, the Nordic model, and how communism shaped Eastern Europe’s later development.
		</p>
	</div>
</PageLayout>
