---
/**
	Social links rendered as IBM-style mono arrow links.
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
}[] = [
	{
		friendlyName: "GitHub",
		link: "https://github.com/angrahed",
	},
];
---

<ul class="flex flex-wrap items-center gap-x-6">
	{
		socialLinks.map(({ friendlyName, isWebmention, link }) => (
			<li class="flex">
				<a
					class="eyebrow ease-productive hover:text-link transition-colors duration-100"
					href={link}
					rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
					target="_blank"
				>
					{friendlyName}&nbsp;↗
				</a>
			</li>
		))
	}
</ul>
