---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Scandinavian Statistical Office Portal" }}>
	<section class="space-y-6">
		<h1 class="title">Scandinavian Statistical Office Portal</h1>
		<p class="text-gray-600 dark:text-gray-400">
			This preview area is still under construction. Check back soon for interactive content and documentation on
			the Shiny app that streamlines access to Scandinavian statistical data.
		</p>
	</section>
</PageLayout>
