---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
---

<FormattedDate
	class="text-text-secondary min-w-30 pt-0.5 font-mono text-xs tracking-[0.1em] uppercase"
	date={post.data.publishDate}
/>
<Tag>
	{post.data.draft && <span class="text-error font-mono text-xs uppercase">(Draft) </span>}
	<a class="cactus-link" href={`/posts/${post.id}/`}>
		{post.data.title}
	</a>
</Tag>
{withDesc && <q class="text-text-secondary line-clamp-3 text-sm">{post.data.description}</q>}
