---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<details class="border-border border-t pt-4 lg:sticky lg:top-24 lg:col-span-3 lg:self-start" open>
	<summary class="eyebrow hover:text-link cursor-pointer">Contents</summary>
	<nav>
		<ol class="mt-4">
			{toc.map((heading) => <TOCHeading heading={heading} />)}
		</ol>
	</nav>
</details>
