---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li>
	<a
		class={`border-border ease-productive text-text-secondary hover:text-global-text block border-l py-1 transition-colors duration-100 hover:border-l-[#0f62fe] ${depth > 2 ? "ps-8 text-xs" : "ps-4 text-sm"}`}
		href={`#${slug}`}>{text}</a
	>
	{
		!!children.length && (
			<ol>
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
